.btn-save-project {
  border-color: var(--white);
  border-radius: 5px;
  background-color: var(--primary);
  cursor: pointer;
  color: var(--white);
  height: 20px;
}

button:disabled {
  cursor: not-allowed;
}

.btn-save-project:focus {
  outline: none;
  font-weight: bold;
}

.btn-save-project:hover {
  font-weight: bold;
}