/* CONTENT */
.content {
  width: calc(100% - 32px);
}

.content-header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  padding: 0 10px;
  background-color: var(--primary);
  color: var(--white);
}

.content-inputs {
  display: flex;
  background-color: var(--light-grey);
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 10px;
  height: 35px;
}

.content-filter {
  display: flex;
  padding: 0 10px;
  align-items: center;
  height: 35px;
  background-color: var(--light-grey);
  /* padding: 10px; */
}

.content-body {
  box-shadow: 10px 10px 8px 10px #888888;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  background-color: var(--light-grey);
  height: calc(100vh - 125px);
  overflow: auto;
}


/* Custom Inputs */
.input-description {
  color: var(--dark-grey);
  width: 17em;
  border-bottom: solid var(--primary) 2px;
}

.input-description:focus{
  color: black;
  outline: none;
  border-bottom: 2px solid var(--dark-grey);
}

.input-date {
  color: var(--dark-grey);
  width: 135px;
  border-bottom: solid var(--primary) 2px;
}

.input-date:focus{
  color: black;
  outline: none;
  border-bottom: 2px solid var(--dark-grey);
}

.input-tag {
  color: var(--dark-grey);
  width: 120px;
  border-bottom: solid var(--primary) 2px;
}

.input-tag:focus{
  color: black;
  outline: none;
  border-bottom: 2px solid var(--dark-grey);
}


/* Card */
.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
  width: 220px;
  border: solid 1px var(--light-grey);
  background-color: var(--white);
  border-radius: 6px;
  margin: 16px;
}

.content-card-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 7px;
}

.content-card-body {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  font-size: .9em;
  /* overflow-y: auto; */
}

.content-card-footer {
  padding: 5px;
}


/* Radio select */
.radio-select {
  font-size: 12px;
}

.radio-select input, label {
  cursor: pointer;
}

/* Custom Buttons */
.btn-delete {
  color: var(--danger);
  font-size: 12px;
  cursor: pointer;
}

.btn-edit {
  font-size: 18px;
  color: var(--primary);
  cursor: pointer;
}

.btn-save {
  background-color: var(--primary);
  border-radius: 3px;
  color: var(--white);
  margin-left: 5px;
}

.btn-save:hover {
  font-weight: bold;
}

/* SWITCH */
.input-switche {
  position: absolute;
  left: -9999px;
  display: none;
}

.switche label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switche span:last-child {
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
}

.switche span:last-child::before,
.switche span:last-child::after {
  content: "";
  position: absolute;
}

.switche span:last-child::before {
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

/* La x */
.switche span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
  background-size: 12px 12px;
}

.switche .input-switche:checked + label span:last-child {
  background: var(--green);
}

/* El recorrido */
.switche .input-switche:checked + label span:last-child::before {
  transform: translateX(30px);
}

.switche .input-switche:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  left: 8px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
  background-size: 14px 14px;
}



.drawer-placement-left::part(body) {
  background-color: var(--dark-grey);
  /* margin: 0; */
  padding: 0;

}

.drawer-placement-left::part(header) {
  display: flex;
  background-color: var(--dark-grey);
}
