/* SIDEBAR */
.sidebar {
  background-color: var(--dark-grey);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 280px;
}

.sidebar-header {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.sidebar-body-input {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  z-index: auto;
}

.sidebar-body-list {
  height: calc(100vh - 128px);
  margin-top: 30px;
  overflow-y: auto;
}

.sidebar-body-list .card {
  color: black;
  height: 60px;
  margin: 5px;
  background-color: #fff;
  border-radius: 4px;
  width: calc(100%-32px);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
