.nothing {
  border: transparent;
  background-color: var(--primary);
  height: calc(100vh - 10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  background-image: url('../../../logo.svg');
  height: 20vmin;
  pointer-events: none;
  width: 30vmin;
}

.show-menu {
  color: wheat;
  font-size: 20px;
  padding-top: 10px;
  background-color: var(--primary);
  border: none;
  padding-left: 10px;
  border-bottom: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}