.btn-login {
  background-color: var(--primary);
  border-radius: 3px;
  border: solid var(--white) 1px;
}

.ui-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--primary);
}

.form-login {
  color: white;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 12rem;
  background-color: rgba(48, 48, 48, 0.541);
}

.group-unput-login {
  display: flex;
  flex-direction: column;
}