/* ___ Main configuration ___ */
:root {
  --primary: #005a7e;
  --dark-grey: #363636;
  --normal-grey: #5a5a5a;
  --light-grey: #d8d8d8;
  --white: #fff;
  --google-blue: #4285f4;
  --success: #00c75a;
  --danger: #fc242f;
  --info: #24a6fc;
  --white: #e8e9ed;
  --gray: #434257;
  --green: #00d084;
  --button-active-blue: #1669f2;
  --input-border: 1.5px;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  box-sizing: inherit;
}

html, body {
  height: 100vh;
  width: 100vw;
}

/* ___ Margins ___ */
.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-5 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 15px;
}

.mr-5 {
  margin-right: 20px;
}

/* ___ Pointer ___ */
.pointer {
  cursor: pointer;
}

.link {
  text-decoration: none;
}


/* ___ Inputs ___ */
.input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 15px;
  transition: border-bottom .2s ease;
}

.input-dark:focus{
  color: var(--white);
  outline: none;
  border-bottom: var(--input-border) solid var(--light-grey);
}

.input-light:focus{
  color: var(--white);
  outline: none;
  border-bottom: var(--input-border) solid var(--primary);
}

.input-select:focus {
  color: black;
  outline: none;
  border-bottom: 2px solid var(--dark-grey);
}

.input-light {
  color: var(--white);
  border-bottom: solid var(--light-grey) var(--input-border);
}

.input-dark {
  color: var(--white);
  border-bottom: solid var(--dark-grey) var(--input-border);
}

.input-select {
  color: var(--dark-grey);
  border-bottom: solid var(--primary) 2px;
}

select {
  background-color: transparent;
  border: none;
  font-size: 15px;
  transition: border-bottom .3s ease;
  margin: 7px 0;
}

/* ___ Buttons ___ */
.btn {
  border: none;
  cursor: pointer;
  padding: 7px 10px 7px 10px;
  transition: color .3s ease;
}


/* MEDIA QUERY */
@media (min-width: 481px) { 
  .toggle {
    display: none;
  }

  .radio-select-movile {
    display: none;
  }
}

@media (max-width: 480px) {
  .content-header input {
    flex-grow: 1;
  }

  .sidebar {
    display: none;
    height: calc(100vh - 50px);
  }

  .sidebar-body-list {
    height: calc(100vh - 175px);
    margin-top: 20px;
  }

  .content {
    width: 100%
  }

  .content-filter {
    display: none;
  }

  .radio-select {
    display: none;
  }

  .input-description {
    width: 150px;
  }

  .content-inputs {
    display: flex;
    height: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .input-tag {
    display: none;
  }

  .content-body {
    display: flex;
    justify-content: center;
    height: calc(100vh - 116px);
  }

  .nothing{
    height: calc(100vh - 31px);
  }

  sl-drawer {
    --size: 20rem;
  }

}
